.application {
  text-align: center;
}

.application__header {
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
}

.application__panel {
  padding: 1rem;
  margin: 1rem 0.5rem 0 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.application__content {
  display: flex;
}

.application__orders-list {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0.5rem 0 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
